.email{
    width:300px;
    border: 2px solid #b5c5dd;
    height:40px;
    padding-left: 15px;
    margin:10px;
    margin-top:15%
}

.pass{
    width:300px;
    border: 2px solid #b5c5dd;
    height:40px;
    padding-left: 15px;
    margin:10px;
    margin-bottom: 5%
}

.normal{
    width:300px;
    border: 2px solid #b5c5dd;
    height:40px;
    padding-left: 15px;
    margin:10px;
}