.loginBtn{
    width:200px;
    background:blueviolet;
    border:none;
    height: 30px;
    margin-top: 2px;
    cursor: pointer;
    color:white;
    border-radius: 30px
}

.addBtn{
    width:200px;
    background-color: #c0392b;
    border:none;
    height: 30px;
    margin-top: 2px;
    cursor: pointer;
    color:white;
    border-radius: 30px
}

.cqBtn{
    width:200px;
    background-color: #de6834;
    border:none;
    height: 30px;
    margin-top: 2px;
    cursor: pointer;
    color:white;
    border-radius: 30px
}