.cardDesign {
  background-color: #fbf7f7;
  border: none;
}
.SendMessageForm {
  position: absolute;
  bottom: 5%;
  width: 100%;
  display: block;
}
.SendMessageForm input {
  width: 100%;
}
